@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap');

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  line-height: 1.42;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
  color: #292929;
  margin: 0;
}

a {
  color: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}